<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">
    <link rel="stylesheet" href="static/css/default.css">
    <link rel="stylesheet" href="static/css/layout.css">
    <link rel="stylesheet" href="static/css/media-queries.css">
    <link rel="stylesheet" href="static/css/magnific-popup.css">
    <link rel="stylesheet" href="static/css/sweetalert2.css">
    <script src="static/js/modernizr.js"></script>
    <title>
        Welcome
    </title>
</head>

<body>
    <header id="home">
        <nav id="nav-wrap">
            <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
            <a class="mobile-btn" href="#" title="Hide navigation">Hide navigation</a>
            <ul id="nav" class="nav">
                <li class="current">
                    <a class="smoothscroll" href="#home">Home</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#about">About</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#resume">Resume</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#portfolio">Works</a>
                </li>
                <li>
                    <a class="smoothscroll" href="#contact">Contact</a>
                </li>
            </ul>
            <!-- end #nav -->
        </nav>
        <!-- end #nav-wrap -->
        <div class="row banner">
            <div class="banner-text">
                <h1 class="responsive-headline">I'm Rohan Baddi.</h1>
                <h3>I'm a Django
                    <span>web developer</span>,
                    <span>bootstrap</span> and
                    <span>webdesigner</span> creating awesome and effective visual identities for companies of all sizes around
                    the globe. Let's
                    <a class="smoothscroll" href="#about">start scrolling</a>
                    and learn more
                    <a class="smoothscroll" href="#about">about me</a>.</h3>
                <hr/>
                <ul class="social">
                    <li>
                        <a href="https://www.facebook.com/rohan.baddi.5">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                            <a href="https://github.com/ronbaddi004">
                                <i class="fa fa-github"></i>
                            </a>
                        </li>
                    <li>
                        <a href="https://plus.google.com/u/0/+RohanBaddi">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ronbaddi004/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/users/9106124/rohan-baddi">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                    </li>
                    <!-- <li>
                            <a href="#">
                                <i class="fa fa-skype"></i>
                            </a>
                        </li> -->
                </ul>
            </div>
        </div>
        <p class="scrolldown">
            <a class="smoothscroll" href="#about">
                <i class="icon-down-circle"></i>
            </a>
        </p>
    </header>
    <section id="about">
        <div class="row">
            <div class="three columns">
                <img class="profile-pic" src="static/images/profilepic.png" alt="" />
            </div>
            <div class="nine columns main-col">
                <h2>About Me</h2>
                <p>
                    DJANGO BACKEND & FRONTEND WEB-DEVELOPER
                    <br>
                </p>
                <p style="font-size:1.5em;">
                    I WANT TO
                    <strong>MAKE THINGS</strong> THAT
                    <strong>MAKES A DIFFERENCE.</strong>
                </p>
                <p>
                    I am always passionate about Website Development, love to create modern Website
                </p>
                <div class="row">
                    <div class="columns contact-details">
                        <h2>Contact Details</h2>
                        <p class="address">
                            <span>Rohan Yashwant Baddi</span>
                            <br>
                            <span>B-403, Sweet Home apt.,
                                <br> Adajan, Surat-395009
                            </span>
                            <br>
                            <span>(+91) 886-636-2282</span>
                            <br>
                            <span>ronbaddi004@gmail.com</span>
                        </p>
                    </div>
                    <div class="columns download">
                        <p>
                            <!-- <form method="get" action="https://drive.google.com/open?id=13KRxtbZLuOXVsj-CTtZobabmWpLn8UfN"> -->
                            <a href="../../static/images/RohanBaddi.pdf" download class="button">
                                <i class="fa fa-download"></i>Download Resume</a>
                            <!-- </form> -->
                        </p>
                    </div>
                </div>
                <!-- end row -->
            </div>
            <!-- end .main-col -->
        </div>
    </section>
    <section id="resume">
        <div class="row education">
            <div class="three columns header-col">
                <h1>
                    <span>Education</span>
                </h1>
            </div>
            <div class="nine columns main-col">
                <div class="row item">
                    <div class="twelve columns">
                        <h3>C.K.Pithawalla College of Engineering and Technology</h3>
                        <p class="info">Bachelor of Engineering
                            <span>&bull;</span>
                            <em class="date">July 2017</em>
                        </p>
                        <p>
                            <strong>COMPUTER ENGINEERING </strong>
                            <br>
                            CGPA: 6.64
                        </p>
                    </div>
                </div>
                <!-- item end -->
                <div class="row item">
                    <div class="twelve columns">
                        <h3>Shree C.C.Shah Sarvajanik English Medium High School</h3>
                        <p class="info">Secondary & Higher Secondary
                            <span>&bull;</span>
                            <em class="date">April 2011-2013</em>
                        </p>
                        <p>
                            <strong>
                                Secondary
                                <br>
                            </strong>
                            percentage: 75.11%<br><br>
                            <strong>
                                Higher Secondary<br>
                            </strong>
                            percentage: 62%
                        </p>
                    </div>
                </div>
                <!-- item end -->
            </div>
        </div>
        <div class="row skill">
            <div class="three columns header-col">
                <h1>
                    <span>Skills</span>
                </h1>
            </div>
            <div class="nine columns main-col">
                <p>
                </p>
                <div class="bars">
                    <ul class="skills">
                        <li>
                            <span class="bar-expand django"></span>
                            <em>Django</em>
                        </li>
                        <li>
                            <span class="bar-expand python"></span>
                            <em>Python</em>
                        </li>
                        <li>
                            <span class="bar-expand wordpress"></span>
                            <em>Wordpress</em>
                        </li>
                        <li>
                            <span class="bar-expand css"></span>
                            <em>CSS & BOOTSTRAP</em>
                        </li>
                        <li>
                            <span class="bar-expand html5"></span>
                            <em>HTML5</em>
                        </li>
                        <li>
                            <span class="bar-expand jquery"></span>
                            <em>jQuery</em>
                        </li>
                    </ul>
                </div>
                <!-- end skill-bars -->
            </div>
            <!-- main-col end -->
        </div>
        <!-- End skills -->
    </section>
    <section id="portfolio">
        <div class="row">
            <div class="twelve columns collapsed">
                <h1>Check Out Some of My Works.</h1>
                <div id="portfolio-wrapper" class="bgrid-quarters s-bgrid-thirds cf">
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-01" title="">
                                <img alt="" src="static/images/portfolio/1_1.png">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio #1</h5>
                                        <p>Bootstrap</p>
                                    </div>
                                </div>
                                <div class="link-icon">
                                    <i class="icon-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-02" title="">
                                <img alt="" src="static/images/portfolio/nether_1.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio #2</h5>
                                        <p>Arial</p>
                                    </div>
                                </div>
                                <div class="link-icon">
                                    <i class="icon-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <!-- item end -->
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-03" title="">
                                <img alt="" src="static/images/portfolio/0_1.png">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio #3</h5>
                                        <p>Dreamer</p>
                                    </div>
                                </div>
                                <div class="link-icon">
                                    <i class="icon-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                    <div class="columns portfolio-item">
                        <div class="item-wrap">
                            <a href="#modal-04" title="">
                                <img alt="" src="static/images/portfolio/header-bg2.jpg">
                                <div class="overlay">
                                    <div class="portfolio-item-meta">
                                        <h5>Portfolio #4</h5>
                                        <p>Tunner</p>
                                    </div>
                                </div>
                                <div class="link-icon">
                                    <i class="icon-plus"></i>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div id="modal-01" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="static/images/portfolio/1.png" alt="" />
                <div class="description-box">
                    <h4>Portfolio #1</h4>
                    <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit.</p> -->
                    <span class="categories">
                        <i class="fa fa-tag"></i>Branding, Webdesign</span>
                </div>
                <div class="link-box">
                    <a href="projects/1/">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-01 End -->
            <div id="modal-02" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="static/images/portfolio/nether.jpg" alt="" />
                <div class="description-box">
                    <h4>Arial</h4>
                    <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit.</p> -->
                    <span class="categories">
                        <i class="fa fa-tag"></i>Branding, Web Development</span>
                </div>
                <div class="link-box">
                    <a href="projects/2/">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-02 End -->
            <div id="modal-03" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="static/images/portfolio/0.png" alt="" />
                <div class="description-box">
                    <h4>Dreamer</h4>
                    <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit.</p> -->
                    <span class="categories">
                        <i class="fa fa-tag"></i>Branding</span>
                </div>
                <div class="link-box">
                    <a href="projects/3/">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <!-- modal-03 End -->
            <div id="modal-04" class="popup-modal mfp-hide">
                <img class="scale-with-grid" src="../../static/images/portfolio/header-bg.jpg" alt="" />
                <div class="description-box">
                    <h4>Tunner</h4>
                    <!-- <p>Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                        consequat ipsum, nec sagittis sem nibh id elit.</p> -->
                    <span class="categories">
                        <i class="fa fa-tag"></i>Photography</span>
                </div>
                <div class="link-box">
                    <a href="projects/4/">Details</a>
                    <a class="popup-modal-dismiss">Close</a>
                </div>
            </div>
            <div class="twelve columns main-col">
                <p>
                    <ul style="list-style-type:circle">
                        <li>
                            Develop project concepts and maintain optimal workflow.
                        </li>
                        <li>
                            Complete detailed programming and development tasks for front end public and internal websites as well as challenging back-end
                            server code.
                        </li>
                        <li>
                            Collaborate with designers to create clean interfaces and simple, intuitive interactions and experiences.
                        </li>
                        <li>
                            Carry out quality assurance tests to discover errors and optimize usability.
                        </li>
                    </ul>
                </p>
            </div>
        </div>
    </section>
    <section id="contact">
        <div class="row section-head">
            <div class="two columns header-col">
                <h1>
                    <span>Get In Touch.</span>
                </h1>
            </div>
            <div class="ten columns">
                <p class="lead">
                    Give me a call, send me an email or drop by to have a chat. I am always here to help out in whatever way i can.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="eight columns">
                <!-- form -->
                <form action="" method="post" id="contactForm" name="contactForm"> {% csrf_token %}
                    <input type='hidden' name='csrfmiddlewaretoken' value='VixeLXMrvzb7IzZC5DVASUOakKiel8qcmJ1Qbuz9vG5DkPC69IGFscDQPLXoqWAv'
                    />
                    <p>
                        <label for="id_contactName">Name:
                            <span class="required">*</span>
                        </label>
                        <input type="text" name="contactName" required id="id_contactName" maxlength="30" />
                    </p>
                    <p>
                        <label for="id_contactEmail">Email:
                            <span class="required">*</span>
                        </label>
                        <input type="email" name="contactEmail" required id="id_contactEmail" maxlength="254" />
                    </p>
                    <p>
                        <label for="id_contactSubject">Subject:</label>
                        <input type="text" name="contactSubject" id="id_contactSubject" maxlength="30" />
                    </p>
                    <p>
                        <label for="id_contactMessage">Message:
                            <span class="required">*</span>
                        </label>
                        <textarea name="contactMessage" id="id_contactMessage" rows="10" cols="40" required>
                        </textarea>
                    </p>
                    <div>
                        <button class="submit" id="btn-sweet" type="submit">Submit</button>
                        <span id="image-loader">
                            <img alt="" src="images/loader.gif">
                        </span>
                    </div>
                    <p>
                        <label for="id_ip_add"></label>
                        <input type="hidden" name="ip_add" value="ABC" required id="id_ip_add" maxlength="120" />
                    </p>
                    <!-- <fieldset>
                        <div>
                            <label for="contactName">Name
                                <span class="required">*</span>
                            </label>
                            <input type="text" value="" id="contactName" name="contactName">
                        </div>
                        <div>
                            <label for="contactEmail">Email
                                <span class="required">*</span>
                            </label>
                            <input type="text" value="" id="contactEmail" name="contactEmail">
                        </div>
                        <div>
                            <label for="contactSubject">Subject</label>
                            <input type="text" value="" id="contactSubject" name="contactSubject">
                        </div>
                        <div>
                            <label for="contactMessage">Message
                                <span class="required">*</span>
                            </label>
                            <textarea cols="50" rows="15" id="contactMessage" name="contactMessage"></textarea>
                        </div> -->
                    <!--    <div>
                            <p style="visibility:hidden;">
                                <label for="id_ip_add">Ip add:</label>
                                <input type="hidden" name="ip_add" value="ABC" required id="id_ip_add" maxlength="120" />
                            </p>
                        </div>
                    </fieldset> -->
                </form>
                <!-- Form End -->
                <!-- contact-warning -->
                <div id="message-warning"> Error boy</div>
                <!-- contact-success -->
                <div id="message-success">
                    <i class="fa fa-check"></i>Your message was sent, thank you!
                    <br>
                </div>
            </div>
            <aside class="four columns footer-widgets">
                <div class="widget widget_contact">
                    <h4>Contact Detail:</h4>
                    <p class="address">
                        <strong> Rohan Baddi </strong>
                        <br>
                        <br>
                        <span>(+91) 886-636-2282</span>
                    </p>
                </div>
            </aside>
        </div>
    </section>
    <footer>
        <div class="row">
            <div class="twelve columns">
                <ul class="social-links">
                    <li>
                        <a href="https://www.facebook.com/rohan.baddi.5">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/ronbaddi004">
                            <i class="fa fa-github"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/u/0/+RohanBaddi">
                            <i class="fa fa-google-plus"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/ronbaddi004/">
                            <i class="fa fa-instagram"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://stackoverflow.com/users/9106124/rohan-baddi">
                            <i class="fa fa-stack-overflow"></i>
                        </a>
                    </li>
                </ul>
                <ul class="copyright">
                    <li>&copy; Copyright 2017</li>
                    <li>Design by
                        <a title="Styleshout" href="http://www.rohanbaddi.com/">Rohan Baddi</a>
                    </li>
                </ul>
            </div>
            <div id="go-top">
                <a class="smoothscroll" title="Back to Top" href="#home">
                    <i class="icon-up-open"></i>
                </a>
            </div>
        </div>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
    <!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script> -->
    <script>
        window.jQuery || document.write('<script src="static/js/jquery-1.10.2.min.js"><\/script>')
    </script>
    <script type="text/javascript" src="static/js/jquery-migrate-1.2.1.min.js">
    </script>
    <script src="static/js/jquery.flexslider.js"></script>
    <script src="static/js/waypoints.js"></script>
    <script src="static/js/jquery.fittext.js"></script>
    <script src="static/js/magnific-popup.js"></script>
    <script src="static/js/init.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="static/js/sweetalert2.js"></script>
    <script src="static/js/custom.js"></script>
    <!-- <script>
        $('#btn-sweet').click(function (e) {
                    e.preventDefault();
                    var form = $(this).parent('form');
                    swal({
                        title: 'Good job!',
                        text: 'You clicked the button!',
                        type: 'success'
                    }, );
        }
    </script> -->
</body>

</html>